In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
gr = pd.read_csv('/home/enumtheworld/gr_sendsms.csv', low_memory = False) ##creating dataframe, assigning the name gr to it.

In [2]:
gr.shape

(18941098, 12)

In [3]:
gr1 = gr[:]

In [4]:
gr1.shape

(18941098, 12)

**Create 'gr1' object targeting Amaze/Games**

In [7]:
gr1 = gr[(gr['AGG'] == "AMAZE/19366") & (gr['Service/Keyword'] == 'games')]

## Pivot table, countring all results by MNOs for Amaze2/Games: ##

In [8]:
gr1.pivot_table(["AGG"], index='Operator', columns='Result', aggfunc='count', fill_value=0, margins=True, margins_name="Total Result")

                 AGG
Result        Failed Success Total Result
Operator
20201              0       1            1
265            86650    6235        92885
268            19017    2531        21548
635            11173    1191        12364
Total Result  116840    9958       126798

**Create 'gr2' object targeting Amaze/Trivia**

In [9]:
gr2 = gr[(gr['AGG'] == "AMAZE/19366") & (gr['Service/Keyword'] == 'trivia')]

In [10]:
gr2.shape

(3994826, 12)

## Pivot table, countring all results by MNOs for Amaze2/Trivia: ##

In [13]:
gr2.pivot_table(["AGG"], index='Operator', columns='Result', aggfunc='count', fill_value=0, margins=True, margins_name="Total Result")

               AGG
Result       Error   Failed Success Total Result
Operator
20201            9    69637    7868        77514
20205           15    36868    3725        40608
20209            0     3752     204         3956
20210            0     5634    1174         6808
20214            0      400     353          753
265              3  2038716   27863      2066582
268              6  1348072    9132      1357210
635              0   337165    5343       342508
CosmOte          0     2754     185         2939
GR_COSMOTE       0       15       9           24
GR_VODAFONE      0       45       0           45
GR_WIND          0        0       3            3
VodafoneGR       0     1058      61         1119
WIND             0      365      30          395
Total Result    33  3844481   55950      3900464

**List of top 10 MSISDN by billing tries**

In [14]:
gr2.MSISDN.value_counts().head(10)

(306)-951141181    217
(306)-988597633    215
(306)-974930325    186
(306)-973459720    171
(306)-934565072    171
(306)-986656961    168
(306)-975988037    165
(306)-986399230    162
(306)-947582371    162
(306)-977920743    162
Name: MSISDN, dtype: int64

## Creating gr3 object - Amaze / Trivia / Success ##

In [15]:
gr3 = gr[(gr['AGG'] == "AMAZE/19366") & (gr['Service/Keyword'] == 'trivia') & (gr['Result']== 'Success')]

In [16]:
gr3.shape

(55950, 12)

**Top 10 MSISDN Amaze/Trivia/Succeess**

In [19]:
gr3.MSISDN.value_counts().head(10)

(306)-980925365    50
(306)-973300691    48
(306)-972053126    48
(306)-985601857    48
(306)-973833623    48
(306)-971948413    48
(306)-976924510    48
(306)-979554492    48
(306)-949590006    48
(306)-944695156    48
Name: MSISDN, dtype: int64

## Import gr3 into excel ##

In [21]:
gr3.to_excel('/home/enumtheworld/gr_amaze_trivia_success.xlsx')