In [1]:
netsmart = read.csv('/home/enumtheworld/netsmart_billing.csv')

In [2]:
library('dplyr')

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [3]:
head(netsmart)

  Date       Time  Tariff ShortCode Destination    Op    ID            Status
1 1/Nov/2018 09:31 600    DCB       (277)-65492968 CellC 105747625247S 2
2 1/Nov/2018 09:31 600    DCB       (276)-53626315 CellC 105747625246J 2
3 1/Nov/2018 09:31 600    DCB       (276)-17761722 CellC 105747625250F 2
4 1/Nov/2018 09:31 600    DCB       (276)-03002825 MTNSA 105747625249H 2
5 1/Nov/2018 09:31 600    DCB       (276)-17761933 CellC 105748025255E 2
6 1/Nov/2018 09:31 600    DCB       (277)-65493971 CellC 105748025253N 2
  Reason Clientref
1 1      268552350
2 1      268552346
3 1      268552351
4 1      268552348
5 1      268552354
6 1      268552355

### 3 unique statuses for netsmart: 1, 2 and 8 (1 is success, 2 is failed, 8 is pending)

In [3]:
unique(netsmart$Status)

[1] 2 1 8

In [4]:
unique(netsmart$Reason)

[1]  1  0 11  4 10  2

In [5]:
names(netsmart)

 [1] "Date"        "Time"        "Tariff"      "ShortCode"   "Destination"
 [6] "Op"          "ID"          "Status"      "Reason"      "Clientref"

In [27]:
unique(netsmart$Op)

 [1] CellC      MTNSA      Vodacom    VodafoneGR CosmOte    MTNCY
 [7] DNA        WIND       ELISA      SAUNALAHTI SONERA     CYTAGSM
[13] AMT        TMobileNL  KPN        TELLFORD   VodafoneNL PRIMETELCY
18 Levels: AMT CellC CosmOte CYTAGSM DNA ELISA KPN MTNCY MTNSA ... WIND

### listOfOp is an object allowing to choose specific operators in ZA

In [6]:
listOfOp <- c("CellC", "MTNSA", "Vodacom")

In [ ]:
h

In [3]:
listOfOpFI <- c("DNA", "WIND", "ELISA", "SAUNALAHTI", "SONERA")

### all operators that failed (status == 2) in south africa (recall listOfOp object)

In [7]:
netsmartZAFail <- netsmart %>% select(Time, Date, Tariff, Destination, Op, ID, Status, Reason) %>% filter(Op %in% listOfOp & Status == 2)

In [8]:
dim(netsmartZAFail)

[1] 18694441        8

### all Finnish Operators

In [4]:
netsmartFI <- netsmart %>% select(Time, Date, Tariff, Destination, Op, ID, Status, Reason) %>% filter(Op %in% listOfOpFI)

In [5]:
dim(netsmartFI)

[1] 3554530       8

In [8]:
head(netsmartFI)

  Time  Date       Tariff Destination     Op   ID            Status Reason
1 00:34 1/Nov/2018 500    (358)-449712889 DNA  091443314711J 2       2
2 00:34 1/Nov/2018 500    (358)-449712889 DNA  091443714977S 2       2
3 00:34 1/Nov/2018 500    (358)-449712889 DNA  091443514837L 2       2
4 00:47 1/Nov/2018 208    (306)-994997327 WIND 100443111691Q 2      11
5 00:47 1/Nov/2018 208    (306)-994997327 WIND 100442811611A 2      11
6 00:47 1/Nov/2018 208    (306)-994997327 WIND 100443311765M 2      11

In [9]:
netsmartFIFailed <- netsmartFI %>% filter(Status == 2)

In [11]:
netsmartFISuccess <- netsmartFI %>% filter(Status == 1)

In [10]:
dim(netsmartFIFailed)

[1] 3439759       8

In [12]:
dim(netsmartFISuccess)

[1] 114771      8

### Export dataframe to csv

In [9]:
write.csv(netsmartZAFail, file = '/home/enumtheworld/netsmartZAFail.csv')

In [6]:
write.csv(netsmartFI, file = '/home/enumtheworld/netsmartFI.csv')

In [10]:
netsmartZAFail$Date <- as.Date(netsmartZAFail)

ERROR: Error in as.Date(netsmartZAAllFail): object 'netsmartZAAllFail' not found

In [11]:
str(netsmartZAFail)

'data.frame':	18694441 obs. of  8 variables:
 $ Time       : Factor w/ 1440 levels "00:00","00:01",..: 572 572 572 572 572 572 572 572 572 572 ...
 $ Date       : Factor w/ 119 levels "1/Dec/2018","1/Feb/2019",..: 4 4 4 4 4 4 4 4 4 4 ...
 $ Tariff     : int  600 600 600 600 600 600 600 600 600 600 ...
 $ Destination: Factor w/ 504343 levels "(276)-03000134",..: 191399 128889 32071 2 32073 191400 128895 64256 32074 128899 ...
 $ Op         : Factor w/ 18 levels "AMT","CellC",..: 2 2 2 9 2 2 2 2 2 2 ...
 $ ID         : Factor w/ 36712632 levels "000000511015C",..: 5878031 5878030 5878034 5878033 5878039 5878037 5878044 5878035 5878042 5878047 ...
 $ Status     : int  2 2 2 2 2 2 2 2 2 2 ...
 $ Reason     : int  1 1 1 1 1 1 1 1 1 1 ...

In [12]:
netsmartZAFail$Date <- strptime(as.character(netsmartZAFail$Date), "%d/%m/%Y")

In [14]:
str(netsmartZAFail)

'data.frame':	18694441 obs. of  8 variables:
 $ Time       : Factor w/ 1440 levels "00:00","00:01",..: 572 572 572 572 572 572 572 572 572 572 ...
 $ Date       : POSIXlt, format: NA NA ...
 $ Tariff     : int  600 600 600 600 600 600 600 600 600 600 ...
 $ Destination: Factor w/ 504343 levels "(276)-03000134",..: 191399 128889 32071 2 32073 191400 128895 64256 32074 128899 ...
 $ Op         : Factor w/ 18 levels "AMT","CellC",..: 2 2 2 9 2 2 2 2 2 2 ...
 $ ID         : Factor w/ 36712632 levels "000000511015C",..: 5878031 5878030 5878034 5878033 5878039 5878037 5878044 5878035 5878042 5878047 ...
 $ Status     : int  2 2 2 2 2 2 2 2 2 2 ...
 $ Reason     : int  1 1 1 1 1 1 1 1 1 1 ...

In [15]:
head(netsmartZAFail)

  Time  Date Tariff Destination    Op    ID            Status Reason
1 09:31 <NA> 600    (277)-65492968 CellC 105747625247S 2      1
2 09:31 <NA> 600    (276)-53626315 CellC 105747625246J 2      1
3 09:31 <NA> 600    (276)-17761722 CellC 105747625250F 2      1
4 09:31 <NA> 600    (276)-03002825 MTNSA 105747625249H 2      1
5 09:31 <NA> 600    (276)-17761933 CellC 105748025255E 2      1
6 09:31 <NA> 600    (277)-65493971 CellC 105748025253N 2      1