In [1]:
import pandas as pd
import datetime

In [4]:
df = pd.read_csv('/home/laptop/Downloads/worldline_notifications.csv',
usecols=['Date', 'Action/recurringType', 'ResultDescription', 'Geo', 'Email', 'amount', 'currency'])

In [5]:
df.head(10)

,Date,Action/recurringType,ResultDescription,Geo,Email,amount,currency
0,1/Jun/2021,NaN,Transaction succeeded,UK,andyjplatt@hotmail.co.uk,28.95,GBP
1,1/Jun/2021,NaN,Transaction succeeded,UK,blackburn.barrie4@gmail.com,28.95,GBP
2,1/Jun/2021,NaN,Transaction succeeded,UK,paulineastley35@gmail.com,28.95,GBP
3,1/Jun/2021,NaN,Transaction succeeded,UK,paulineastley35@gmail.com,28.95,GBP
4,1/Jun/2021,NaN,Transaction succeeded,UK,paulineastley35@gmail.com,28.95,GBP
5,1/Jun/2021,NaN,Transaction succeeded,UK,k.mackison@yahoo.co.uk,28.95,GBP
6,1/Jun/2021,REPEATED,transaction declined (amount exceeds credit),UK,nichol41@hotmail.co.uk,28.95,GBP
7,1/Jun/2021,REPEATED,Transaction succeeded,UK,oyeyinkas@yahoo.com,28.95,GBP
8,1/Jun/2021,CREATED,transaction pending,CY,remon.cyprus@gmail.com,NaN,NaN
9,1/Jun/2021,CREATED,Transaction succeeded,CY,remon.cyprus@gmail.com,NaN,NaN

In [6]:
df.isnull().any() ## Where do I have NaaN values?

Date                    False
Action/recurringType     True
ResultDescription       False
Geo                      True
Email                    True
amount                   True
currency                 True
dtype: bool

In [7]:
null_columns1 = df.columns[df.isnull().any()] ## How many NaaN values do I have in total?
df[null_columns1].isnull().sum()

Action/recurringType      706
Geo                        61
Email                      59
amount                  73684
currency                73684
dtype: int64

In [8]:
df = df.dropna() ## drop blanks from df

In [9]:
df.head(10)

,Date,Action/recurringType,ResultDescription,Geo,Email,amount,currency
6,1/Jun/2021,REPEATED,transaction declined (amount exceeds credit),UK,nichol41@hotmail.co.uk,28.95,GBP
7,1/Jun/2021,REPEATED,Transaction succeeded,UK,oyeyinkas@yahoo.com,28.95,GBP
15,1/Jun/2021,INITIAL,Transaction succeeded,CY,remon.cyprus@gmail.com,1.00,EUR
26,1/Jun/2021,INITIAL,transaction declined (wrong expiry date),CY,marios-ano@live.com,1.00,EUR
30,2/Jun/2021,REPEATED,Transaction succeeded,UK,katiestephenson055@gmail.com,28.95,GBP
31,2/Jun/2021,REPEATED,transaction declined (amount exceeds credit),CY,disanayakasamantha29@gmail.com,28.95,EUR
32,2/Jun/2021,REPEATED,transaction declined by authorization system,UK,f.burton@simplybiz.co.uk,28.95,GBP
33,2/Jun/2021,REPEATED,Transaction succeeded,UK,c-wing@sky.com,28.95,GBP
59,3/Jun/2021,REPEATED,transaction declined (amount exceeds credit),UK,smithpatricia784@gmail.com,28.95,GBP
60,3/Jun/2021,REPEATED,Transaction succeeded,UK,bigga_baby@yahoo.co.uk,28.95,GBP

In [10]:
df.shape

(28699, 7)

In [11]:
df['Date'] = pd.to_datetime(df.Date) ## create official timestamp

In [12]:
df = df.loc[(df['Date'] >= '2021-07-01')] ## start df from July 21

In [23]:
df['Date'].dt.date ## omit time from Date index, keep only date

4000      2021-07-01
4001      2021-07-01
4002      2021-07-01
4003      2021-07-01
4004      2021-07-01
             ...
103032    2022-02-21
103033    2022-02-21
103034    2022-02-21
103035    2022-02-21
103036    2022-02-21
Name: Date, Length: 19718, dtype: object

In [25]:
df['Action/recurringType'].unique().tolist() ## show unique values under Action/RecurringType

['REPEATED']

In [26]:
df = df[(df['Action/recurringType'] != 'INITIAL')] ## ommit initial

In [27]:
df['Action/recurringType'].unique().tolist() ## check

['REPEATED']

In [28]:
df.to_excel('/home/laptop/Downloads/worldline_notifications_filtered.xlsx')